h2.h2 {font-size:138.5%;padding-bottom:5px;margin-bottom:10px;color:#2D8659;border-bottom:3px solid #999;}

.bold {font-weight:bold;}
.center {text-align:center;}
.right {text-align:right;}

.ss_report_schedule li {border:1px solid #999;margin-bottom:15px;padding:10px;}
.ss_report_schedule h4 {font-size:116%;color:#2D8659;border-bottom:1px dashed #999;padding-bottom:5px;}
.ss_report_schedule .property {margin:10px 0px;}
.ss_report_schedule .property .active_property {background-color:#FFC;margin-right:10px;}
.ss_report_schedule .property .inactive_property {color:#666;background-color:#EEE;margin-right:10px;}
.ss_report_schedule .due .caption {color:#666;}
.ss_report_schedule .actions {color:#666;margin-top:10px;border-top:1px dashed #999;padding-top:8px;}
.ss_report_schedule .actions span {margin-right:20px;}

/*
 * ADMINISTRATION PAGE
 */

/* Manage Organization */
.admin_org_page h2 {font-size:138.5%;margin-bottom:10px;color:#2D8659;}

.admin_org_page table {margin-bottom:20px;}
.admin_org_page table .sector_number {width:80px;text-align:center;}
.admin_org_page table .manage {width:140px;text-align:center;}

.admin_org_page table .ref_no {width:80px;text-align:center;}
.admin_org_page table .sector {width:100px;text-align:center;}
.admin_org_page table .year {width:150px;text-align:center;}

.admin_org_page .master_plan_sectors {margin-top:15px;}

/* Manage Users */
.admin_users_page table {margin:10px 0px 20px;}
.admin_users_page table td {vertical-align:top;}
.admin_users_page table .fullname {width:250px;}
.admin_users_page table .username {width:140px;}
.admin_users_page table .status {width:180px;text-align:center;}
.admin_users_page table .role {}
.admin_users_page table .role li {list-style:disc;margin-left:20px;}

.admin_users_page form li.responsible .list {margin-bottom:10px;}
.admin_users_page form li.responsible .list_comment {color:#666;margin-left:15px;}
.admin_users_page #responsible_selected_programs {margin:10px 0px 20px 0px;}
.admin_users_page #responsible_selected_programs li {border:1px dashed #999;padding:8px 10px;margin-bottom:10px;font-size:108%;}
.admin_users_page #responsible_selected_programs li a {margin-right:10px;}
.admin_users_page #responsible_selected_programs li a:hover {background:none;}

.admin_users_page .user_password .name {font-size:116%;margin:10px 0px;}
.admin_users_page .user_password .password {font-size:116%;margin:10px 0px;}
.admin_users_page .user_password .note {color:#555;margin:10px 0px;}
.admin_users_page .user_password .warning {font-size:108%;margin:15px 0px;}

.admin_users_page .random_password_panel {font-size:116%;border:1px solid #CCC;padding:10px;margin-bottom:15px;}
.admin_users_page .random_password_panel .label {margin-bottom:5px;color:#666;}

/*
 * ORGANIZATION PAGE
 */

.organization_page h3 {font-size:138.5%;margin:5px 0px 10px;color:#C60;}
.organization_page ul {margin:0px 0px 25px;border-bottom:1px dashed #999;padding-bottom:10px;}
.organization_page ul li {list-style:disc;margin:5px 0px 10px 25px;}
.organization_page li a {font-size:108%;}

/*
 * USER PAGE
 */
.user_page .setting_panel {margin-bottom:40px;}

.dashboard_page h2 {font-size:138.5%;padding-bottom:5px;margin-bottom:10px;color:#2D8659;border-bottom:3px solid #999;}

.dashboard_page .primary_responsibility {font-size:108%;margin:10px 0px 15px;color:#666;border-bottom:1px solid #CCC;padding-bottom:10px;}
.dashboard_page .primary_responsibility .sector {margin-right:10px;}
.dashboard_page .primary_responsibility .master_plan {padding:0px 10px;}

.dashboard_page .responsibilities {margin-bottom:30px;}
.dashboard_page .responsibilities li {margin-bottom:10px;}
.dashboard_page .responsibilities li h3 {font-size:116%;margin-bottom:5px;}
.dashboard_page .responsibilities li .name {color:#666;}

.user_page li.comment {margin-bottom:20px;}
.user_page li.comment .source a {font-style:italic;font-size:108%;}
.user_page li.comment .metadata {margin-bottom:10px;font-weight:bold;}
.user_page li.comment .message {margin:10px 0px;padding:10px;border:1px solid #CCC;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;}
.user_page li.comment .new {background-color:#FFC;}
.user_page li.comment .actions {margin-top:10px;}
.user_page li.comment .actions a {font-size:95%;}
.user_page li.comment ol.replies {margin-left:20px;}

/*
 * SECTOR
 */

.sector_budget_page .master_plans {margin-bottom:20px;}
.sector_budget_page .master_plans li {padding:5px 0;}

.sector_budget_page .ss_table td {font-size:100%;}
.sector_budget_page .ss_table th {font-size:100%;text-align:center;}

.sector_budget_page .ss_table td.master_plan {font-size:123.1%;font-weight:bold;padding:10px;background-color:#FFD;}
.sector_budget_page .ss_table td.plan {font-weight:bold;padding:10px;background-color:#FFD;}
.sector_budget_page .ss_table td.program {width:270px;vertical-align:top;padding:10px;}

.sector_budget_page .ss_table td.program .abbr_name {margin-top:6px;color:#555;}

.sector_budget_page .ss_table td.grant_budget {background-color:#EEE;text-align:center;vertical-align:top;}
.sector_budget_page .ss_table td.claim_budget {text-align:center;vertical-align:top;}

.sector_budget_page .ss_table td.na {color:#CCC;}
.sector_budget_page .ss_table td .number {margin-bottom:5px;}
.sector_budget_page .ss_table td .unit {}

/*
.sector_budget_page .master_plans h3 {font-size:123.1%;color:#666;margin-bottom:7px;}
.sector_budget_page .master_plans li {margin-bottom:8px;font-size:108%;}
.sector_budget_page .master_plans {}

.sector_budget_page .kpi td.master_plan,
.sector_budget_page .budget td.master_plan {font-size:138.5%;font-weight:bold;}
.sector_budget_page .kpi td.plan,
.sector_budget_page .budget td.plan {font-size:123.1%;}

.sector_budget_page .kpi li.master_plan,
.sector_budget_page .budget li.master_plan {font-size:138.5%;font-weight:bold;padding:5px 0;}
.sector_budget_page .kpi li.plan,
.sector_budget_page .budget li.plan {font-size:123.1%;padding:3px 10px;}
.sector_budget_page .kpi li.program,
.sector_budget_page .budget li.program {list-style-type:disc;margin-left:30px;padding:3px;}
*/

/*
 * MASTER PLAN
 */

/* Master Plan - Overview Page */

.master_plan_overview_page .kpi td.plan,
.master_plan_overview_page .budget td.plan {font-size:123.1%;}

.master_plan_overview_page .kpi li.plan,
.master_plan_overview_page .budget li.plan {font-size:123.1%;padding:3px;}
.master_plan_overview_page .kpi li.program,
.master_plan_overview_page .budget li.program {list-style-type:disc;margin-left:30px;padding:3px;}

/* Master Plan - Programs Page */
.master_plan_programs_page {}
.master_plan_programs_page h2 {font-size:138.5%;color:#333;border-bottom:1px solid #999;margin:5px 0px 10px;padding-bottom:5px;}

.master_plan_programs_page .programs_controls {margin:5px 0px 20px 10px;}
.master_plan_programs_page .programs_controls span {font-size:116%;margin-right:15px;color:#666;}
.master_plan_programs_page .programs_controls a {border:1px solid #CCC;padding:3px 10px;text-decoration:none;}

.master_plan_programs_page .programs {margin:0px 0px 20px 25px;}
.master_plan_programs_page .program {margin:5px 0px 10px;font-size:108%;list-style:disc;}

.master_plan_programs_page .program .program_overview {margin:4px 0px 10px;}
.master_plan_programs_page .program .program_overview span {color:#999;margin-right:20px;}
.master_plan_programs_page .program .program_overview span em {color:#555;}


/* Master Plan - KPI Page */

/* Master Plan - Budget Page */
.master_plan_budget_page .ss_table td {font-size:100%;}
.master_plan_budget_page .ss_table th {font-size:100%;text-align:center;}

.master_plan_budget_page .ss_table td.plan {font-weight:bold;padding:10px;background-color:#FFD;}
.master_plan_budget_page .ss_table td.program {width:270px;vertical-align:top;padding:10px;}

.master_plan_budget_page .ss_table td.program .abbr_name {margin-top:6px;color:#555;}

.master_plan_budget_page .ss_table td.grant_budget {background-color:#EEE;text-align:center;vertical-align:top;}
.master_plan_budget_page .ss_table td.claim_budget {text-align:center;vertical-align:top;}

.master_plan_budget_page .ss_table td.na {color:#CCC;}
.master_plan_budget_page .ss_table td .number {margin-bottom:5px;}
.master_plan_budget_page .ss_table td .unit {}

/* Master Plan - Management Page */

/* Manage Organization */
.master_plan_manage .ss_table .plan {background-color:#FFD;}
.master_plan_manage .ss_table .date_span {width:180px;text-align:center;}
.master_plan_manage .ss_table .date_span .to {margin:5px 0px;color:#666;}

.master_plan_manage .ss_table .title {color:#666;font-size:93%;margin-bottom:5px;}

.master_plan_manage .ss_table .subcontrols {border-top:1px dashed #999;padding-top:10px;font-size:85%;margin:15px 0px 5px;}
.master_plan_manage .ss_table .subcontrols li {margin-right:25px;display:inline-block;display:-moz-inline-stack;*display:inline;list-style:none;zoom:1;}
.master_plan_manage .ss_table .subcontrols li img {margin-right:5px;}
.master_plan_manage .ss_table .subcontrols a {color:#666;}
.master_plan_manage .ss_table .subcontrols a.delete-program {color:#C30 !important;}
.master_plan_manage .ss_table .subcontrols a:hover {color:#FFF;}
.master_plan_manage .ss_table .subcontrols a.delete-program:hover {color:#FFF !important;}
.master_plan_manage .ss_table .subcontrols span.disabled {margin:0px;color:#555;}

/* Program KPI */

.master_plan_manage_program_kpi table {width:100%;margin-bottom:30px;}
.master_plan_manage_program_kpi table th {font-weight:bold;color:#333;border:1px solid #CCC;padding:12px 10px;}
.master_plan_manage_program_kpi table td {border:1px solid #CCC;padding:12px 10px;vertical-align:top;}

.master_plan_manage_program_kpi table .choices_cell label {font-size:108%;color:#666;margin-right:6px;}

.master_plan_manage_program_kpi table .controls {width:60px;text-align:center;}
.master_plan_manage_program_kpi table .target_head_column {width:180px;}
.master_plan_manage_program_kpi table .quarter_head_column {width:370px;}

.master_plan_manage_program_kpi table .kpi_column .kpi_category {font-size:95%;color:#666;margin-bottom:6px;}
.master_plan_manage_program_kpi table .kpi_column .kpi_name {}

.master_plan_manage_program_kpi table .target_column {width:180px;color:#666;text-align:right;}
.master_plan_manage_program_kpi table .target_column input {width:95%;text-align:right;}
.master_plan_manage_program_kpi table .target_column input.invalid {background-color:#FCC;}
.master_plan_manage_program_kpi table .target_column div {margin-top:3px;text-align:right;}

.master_plan_manage_program_kpi table .quarter_column {width:370px;color:#666;}
.master_plan_manage_program_kpi table .quarter_column select.invalid {background-color:#FCC;}
.master_plan_manage_program_kpi table .quarter_column span {margin-right:15px;}
.master_plan_manage_program_kpi table .quarter_column label {margin-right:5px;}

.master_plan_manage_program_kpi .button_panel {margin:0px !important;}

/* Program Budget */

.master_plan_manage_program_budget table {width:100%;margin-bottom:30px;}
.master_plan_manage_program_budget table th {font-weight:bold;color:#333;border:1px solid #CCC;padding:12px 10px;}
.master_plan_manage_program_budget table td {border:1px solid #CCC;padding:12px 10px;vertical-align:top;}

.master_plan_manage_program_budget table .controls {width:60px;text-align:center;}

.master_plan_manage_program_budget table .grant_column {width:300px;}
.master_plan_manage_program_budget table .grant_column input {width:260px;text-align:right;margin-right:5px;}
.master_plan_manage_program_budget table .grant_column input.invalid {background-color:#FCC;}
.master_plan_manage_program_budget table .schedule_on_column {width:210px;}
.master_plan_manage_program_budget table .schedule_on_column input.invalid {background-color:#FCC;}

.master_plan_manage_program_budget .button_panel {margin-left:0px !important;}

/* Manage Report */
.master_plan_manage_report .due_panel {margin:10px 0px 20px;padding:10px;border:1px solid #CCC;background-color:#F3F3F3;}
.master_plan_manage_report .due_panel .due_row {margin:10px 10px;font-size:0.9em;}
.master_plan_manage_report .due_panel a.add_more {font-size:0.9em;margin-left:10px;}
.master_plan_manage_report .due_panel .due_row select {margin:0px 10px;}
.master_plan_manage_report .notify_input input {width:60px;margin:0px 10px;}

/* Manage KPI */
.master_plan_manage_kpi .kpi_year_choices {margin-bottom:20px;border:1px dashed #CCC;padding:10px;}
.master_plan_manage_kpi .kpi_year_choices span {margin-right:10px;font-size:123.1%;color:#333;}

.master_plan_manage_kpi h3 {font-size:123.1%;color:#2D8659;margin-bottom:8px;}
.master_plan_manage_kpi h3.no_category {font-style:italic;}

.master_plan_manage_kpi .ss_table {margin-bottom:30px;}
.master_plan_manage_kpi .ss_table .ref_no {width:110px;text-align:center;}
.master_plan_manage_kpi .ss_table .unit_name {width:120px;text-align:center;}

/*
 * PROGRAM
 */
.program_overview_page {}
.program_overview_page .projects {margin:10px 0px 20px;}
.program_overview_page .projects li {list-style:disc;margin-left:20px;}

.program_overview_page .notice_panel {background-color:#FCC;border:1px solid #999;padding:10px;margin-bottom:20px;}
.program_overview_page .notice_panel .headline {font-size:108%;}

.program_overview_page .reports {margin:15px 0px 20px;}
.program_overview_page .reports li {list-style:disc;margin:0px 0px 15px 20px;}
.program_overview_page .reports li a {font-size:108%;}
.program_overview_page .reports .date {color:#666;font-weight:bold;font-size:108%;margin-bottom:5px;}
.program_overview_page .reports .report_name {color:#333;margin-bottom:8px;font-size:108%;}
.program_overview_page .reports .details {color:#666;}


/* PROGRAM - KPI */
.program_kpi_page {}

.program_kpi_page h2 {font-size:123.1%;color:#555;}

.program_kpi_page table {width:100%;margin:10px 0px 30px;}
.program_kpi_page table th {padding:10px 10px;background-color:#DDD;color:#333;border:1px solid #AAA;text-align:center;}
.program_kpi_page table th.quarter {font-weight:bold;}

.program_kpi_page table td {border:1px solid #AAA;padding:10px;}
.program_kpi_page table td.kpi {width:300px;vertical-align:top;}
.program_kpi_page table td.target {background-color:#EEE;text-align:center;vertical-align:top;}
.program_kpi_page table td.result {text-align:center;vertical-align:top;}

.program_kpi_page table td.kpi .kpi_ref {margin-bottom:5px;font-weight:bold;color:#C60;}
.program_kpi_page table td.kpi .kpi_name {color:#444;}

.program_kpi_page table td .number {margin-bottom:5px;font-size:116%;}
.program_kpi_page table td .unit {color:#888;}
.program_kpi_page table td .edit {margin-top:5px;font-size:0.9em;}

.program_kpi_page table td .number a {color:#000;}
.program_kpi_page table td .number a:hover {color:#FFF;}

/* PROGRAM - BUDGET */
.program_budget_page .ss_table .link_column {width:110px;text-align:center;font-size:100%;}
.program_budget_page .ss_table .schedule_on_column {width:110px;text-align:center;}
.program_budget_page .ss_table .grant_column {width:130px;text-align:center;}
.program_budget_page .ss_table .claim_column {width:130px;text-align:center;}
.program_budget_page .ss_table .status_column {width:180px;text-align:center;}

.program_budget_page .ss_table td {vertical-align:top;}
.program_budget_page .ss_table td span.unit {color:#555;}
.program_budget_page .ss_table td .edit {margin-top:5px;font-size:0.9em;}

.program_budget_page .ss_table .status_column .future {color:#999;}
.program_budget_page .ss_table .status_column .late {color:#C30;}


/* PROGRAM - PROJECTS */
.program_projects_page .ss_table .ref_no {width:110px;}
.program_projects_page .ss_table .contract_no {width:130px;}
.program_projects_page .ss_table .name {}
.program_projects_page .ss_table .start_date {width:120px;text-align:center;}
.program_projects_page .ss_table .end_date {width:120px;text-align:center;}

/* PROGRAM - REPORT */
.program_reports_page .notice_panel {background-color:#FCC;border:1px solid #999;padding:10px;margin-bottom:20px;}
.program_reports_page .notice_panel .headline {font-size:108%;}
.program_reports_page .notice_panel ul {margin:10px 0px 0px 30px;}
.program_reports_page .notice_panel li {margin-bottom:10px;}
.program_reports_page .notice_panel li .date {color:#666;margin-top:5px;}

.program_reports_page .year_choices {font-size:108%;}
.program_reports_page .year_choices span.caption {margin-right:10px;}
.program_reports_page .year_choices span {font-weight:bold;}
.program_reports_page .date_span {font-size:123.1%;color:#333;margin:10px 0px 20px;}

.program_reports_page h2 {font-size:138.5%;margin:5px 0px 10px;border-bottom:1px dashed #CCC;padding-bottom:5px;}
.program_reports_page ul {margin:0px 0px 20px 30px;}
.program_reports_page ul li {margin-bottom:20px;list-style:disc;}
.program_reports_page .ss_no_information {margin-left:15px;}

.program_reports_page .report_period {font-size:116%;margin-bottom:15px;}

.program_reports_page .report_name {margin-bottom:10px;font-size:108%;}
.program_reports_page .report_name .due {margin-right:15px;color:#555;}
.program_reports_page .metadata {color:#555;}
.program_reports_page .metadata span {margin-right:15px;padding:0px 6px;}
.program_reports_page .metadata span.submitted {background-color:#CFC;}

.program_reports_page_manage h3 {font-size:138.5%;margin-bottom:10px;color:#333;}
.program_reports_page_manage .ss_no_information {margin-left:15px;}
.program_reports_page_manage .ss_report_schedule {margin-left:20px;}

.program_reports_page_manage .due_panel {margin:10px 0px 20px;padding:10px;border:1px solid #CCC;background-color:#F3F3F3;}
.program_reports_page_manage .due_panel .due_row {margin:10px 10px;font-size:0.9em;}
.program_reports_page_manage .due_panel a.add_more {font-size:0.9em;margin-left:10px;}
.program_reports_page_manage .due_panel .due_row select {margin:0px 10px;}
.program_reports_page_manage .notify_input input {width:60px;margin:0px 10px;}

.program_reports_page_send .instruction {font-size:116%;color:#666;margin-bottom:15px;}
.program_reports_page_send ul.reports {margin-left:20px;}
.program_reports_page_send ul.reports li {margin-bottom:15px; list-style:disc;}
.program_reports_page_send ul.reports h2 {font-size:116%;margin-bottom:10px;}
.program_reports_page_send .counter span {margin-right:10px;}

.program_reports_page_send ul.submissions {margin-left:20px;}
.program_reports_page_send ul.submissions li {margin-bottom:20px; list-style:disc;}
.program_reports_page_send ul.submissions .due_date {margin-right:10px;}

.program_reports_page_send ul.submissions .notice {margin-top:8px;}
.program_reports_page_send ul.submissions .overdue {color:#C30;font-weight:bold;}
.program_reports_page_send ul.submissions .waiting {color:#666;}
.program_reports_page_send ul.submissions .rejected {color:#C30;font-weight:bold;}

.program_reports_page_send .is_overdue {background-color:#FCC;padding:2px 10px;}
.program_reports_page_send .is_rejected {background-color:#FCC;padding:2px 10px;}
.program_reports_page_send .is_waiting {background-color:#EEE;padding:2px 10px;}

/*
 * PROJECT
 */

.project_overview_page {}
.project_overview_page .activities {margin:10px 0px 20px;}
.project_overview_page .activities h3 {font-size:138.5%;padding-bottom:5px;margin-bottom:10px;color:#2D8659;border-bottom:3px solid #999;}
.project_overview_page .activities li {list-style:disc;margin:0px 0px 15px 20px;}
.project_overview_page .activities h4 {margin-bottom:5px;}
.project_overview_page .activities h4 a {font-size:108%;}
.project_overview_page .activities .details {color:#666;}

.project_activities_page .ss_table .name {}
.project_activities_page .ss_table .start_date {width:120px;text-align:center;}
.project_activities_page .ss_table .end_date {width:120px;text-align:center;}

/*
 * ACTIVITY
 */

.activity_page .headline {border-bottom:1px solid #CCC;padding-bottom:10px;margin-bottom:20px;}
.activity_page .headline div {margin-right:15px;display:inline;font-size:116%;display:inline;}
.activity_page .headline em {color:#2D8659;margin-bottom:5px;}
.activity_page .headline .no_information {color:#666;}

.activity_page .content h3 {font-size:138.5%;margin:20px 0px 10px;padding:0px 10px 5px 0px;color:#2D8659;border-bottom:3px solid #999;}
.activity_page .content .description {font-size:108%;}
.activity_page .content .description span.no_information {color:#666;font-style:italic;}

/*
 * REPORT
 */
.report_page {padding:0px 0px 25px;}

.report_page .report_status {border:1px solid #CCC;margin-bottom:15px;padding:10px;font-size:131%;}
.report_page .report_status .overdue {color:#C30;}
.report_page .report_status .not_submitted {color:#666;}
.report_page .report_status .submitted {color:#2D8659;}
.report_page .report_status .waiting {color:#666;}
.report_page .report_status .approved {color:#2D8659;}
.report_page .report_status .rejected {color:#C30;}

.report_page .report_status .no_data {color:#666;margin-top:8px;font-style:italic;font-size:0.8em;}
.report_page .report_status .buttons {margin-top:10px;font-size:0.75em;}
.report_page .report_status .buttons button {margin-right:20px;padding:3px 25px;font-size:116%;border-top:1px solid #CCC;border-left:1px solid #CCC;border-bottom:1px solid #999;border-right:1px solid #999;background-color:#369;cursor:pointer;color:#FFF;}
.report_page .report_status .buttons span {margin-left:15px;color:#333;background-color:#FFC;padding:0px 5px;}

.report_page .content {margin-top:15px;}
.report_page .content h3 {font-size:138.5%;margin:5px 0px 15px;color:#2D8659;}
.report_page .content .text_content {margin-left:15px;}
.report_page .content .text_content p {margin-bottom:8px;}

.report_page .edit_content {display:none;}
.report_page .edit_content .button_panel {margin:15px 0px;}
.report_page .edit_content .button_panel button {margin-right:20px;padding:3px 15px;border-top:1px solid #CCC;border-left:1px solid #CCC;border-bottom:1px solid #999;border-right:1px solid #999;background-color:#369;cursor:pointer;color:#FFF;}

.report_page .files {margin-left:15px;}
.report_page .files li {background-color:#DBE7F0;padding:6px 10px;border:1px solid #C6D4E0;margin-bottom:10px;}
.report_page .files li .filename {font-size:116%;padding-bottom:8px;}
.report_page .files li .metadata {color:#555;font-style:italic;}
.report_page .files li .actions {margin-left:10px;}
.report_page .files li .actions a:link, .report_page .files li .actions a:visited, .report_page .files li .actions a:active {color:#C30;}
.report_page .files li .actions a:hover {background:none !important;}

.report_page .text_content {margin:10px 0px 25px;font-size:116%;}

#upload-file-dialog {display:none;}
#upload-file-dialog form {margin:10px 20px;}
#upload-file-dialog label {margin-bottom:10px;font-size:116%;display:block;}
#upload-file-dialog button {margin-top:10px;padding:3px 10px;border-top:1px solid #CCC;border-left:1px solid #CCC;border-bottom:1px solid #999;border-right:1px solid #999;background-color:#369;cursor:pointer;color:#FFF;}

.report_reference_page {}
.report_reference_page h3 {font-size:108%;margin-bottom:10px;color:#666;}
.report_reference_page ul {margin:0px 0px 20px 15px;}
.report_reference_page li {font-size:108%;margin:0px 0px 20px 15px;list-style:disc;}
.report_reference_page li .description {background-color:#FFC;margin-top:8px;border:1px solid #CCC;padding:4px 8px;}

.report_reference_edit_page .ss_form .button_panel {margin-left:0px;}
.report_reference_edit_page h2 {font-size:123.1%;background-color:#666;color:#FFF;margin-bottom:10px;padding:5px 10px;}
.report_reference_edit_page h3 {font-size:108%;margin-bottom:10px;color:#2D8659;}
.report_reference_edit_page ul {margin-bottom:25px;}
.report_reference_edit_page li {margin-bottom:15px;}
.report_reference_edit_page li input {vertical-align:10%;margin-right:7px;}
.report_reference_edit_page li.project {margin:10px 0px 10px 0px;font-size:108%;}
.report_reference_edit_page li .description input {margin:5px 0px 0px 25px;width:550px;}


/*
 * KPI
 */
.kpi_page {}

.kpi_page .kpi_value {border:1px solid #CCC;background-color:#EEE;padding:10px 10px 0px;font-size:123.1%;margin-bottom:20px;}
.kpi_page .kpi_value div {margin-bottom:10px;}
.kpi_page .kpi_value span {color:#666;}

.kpi_page .remark {font-size:108%;margin-bottom:20px;}


/*
 * BUDGET
 */
.budget_page .budget_status {font-size:123.1%;margin-bottom:20px;}
.budget_page .budget_status .caption {color:#666;margin-bottom:7px;}
.budget_page .budget_status .status {border:1px dashed #999;padding:7px 10px;}

.budget_page .budget_status .status .future {color:#999;}
.budget_page .budget_status .status .late {color:#C30;}

.budget_page .budget_value {border:1px solid #CCC;background-color:#EEE;padding:10px 10px 0px;font-size:123.1%;margin-bottom:20px;}
.budget_page .budget_value div {margin-bottom:10px;}
.budget_page .budget_value span {color:#666;}

.budget_page .remark {font-size:108%;margin-bottom:20px;}

.budget_page .revisions {margin:10px 0px 20px;}
.budget_page .revisions th {text-align:center;color:#333;font-weight:bold;padding:10px 15px;border:1px solid #999;}
.budget_page .revisions td {text-align:center;padding:10px 15px;border:1px solid #999;font-size:108%;}
.budget_page .revisions .revised_on {color:#666;}

