{% extends 'page_base.html' %}
{% load helper_tags page_tags core_tags %}

{% block html_head %}
<script type="text/javascript">
$(document).ready(function() {
    $(".expand-collapse").click(function(e) {
		e.preventDefault();
		$(this).closest("li.plan").find("ul.programs").slideToggle();
		$(this).blur();
    });
    
});
</script>
{% endblock %}

{% block body_title %}{% display_master_plan_header user master_plan %}{% endblock %}
{% block body_tabs %}{% tabs_for_master_plan page user master_plan %}{% endblock %}

{% block body_content %}
<div class="ss_control_panel">
    <ul>
        <li><img src="{{MEDIA_URL}}/images/icons/manage.png" class="icon"/><a href="{% url view_master_plan_manage_organization master_plan.ref_no %}">จัดการแผนงาน</a></li>
    </ul>
</div>

<div class="master_plan_programs_page">
	<ul class="plans">
		{% for plan in plans %}
		<li class="plan">
			<h2>{{plan.name}}</h2>
			<div class="programs_controls"><span>{{plan.programs|length}} แผนงาน</span><a href="#" class="expand-collapse">แสดง/ซ่อนแผนงาน</a></div>
			<ul class="programs" style="display:none;">
				{% for program in plan.programs %}
				<li class="program">
					<a href="{% url view_program_overview program.id %}">แผนงาน ({{program.ref_no}}) {{program.name}}</a>
					<div class="program_overview"><span>ระยะเวลา {% if program.start_date and program.end_date %}<em>{{program.start_date|abbr_date}} - {{program.end_date|abbr_date}}</em>{% else %}<em>ยังไม่กำหนดระยะเวลา</em>{% endif %}</span> <span>ผู้รับผิดชอบ <em>{% who_program_manager program %}</em></span></div>
				</li>
				{% endfor %}
			</ul>
		</li>
		{% endfor %}
	</ul>
</div>
{% endblock %}