{% extends 'page_base.html' %}
{% load helper_tags page_tags core_tags %}

{% block html_head %}
{% endblock %}

{% block body_title %}{% display_sector_header user sector %}{% endblock %}
{% block body_tabs %}{% tabs_for_sector page user sector %}{% endblock %}

{% block body_content %}
<div class="sector_overview_page">
	<!-- Master Plan -->
	<div class="master_plans">
		<ul>
			{% for master_plan in sector.master_plans %}
			<li>แผน {{master_plan.ref_no}} {{master_plan.name}}</li>
			{% endfor %}
		</ul>
	</div>

	<table border="1" width="100%">
		<th rowspan="2">กิจกรรมที่สำนักต้องดำเนินการ</th>
		{% generate_quarter_table_header quarter_year %}
		<tr>
			{% for i in 4|get_range %}
			<td>คาดการณ์</td>
			<td>ผลที่เกิด</td>
			{% endfor %}
		</tr>
		{% for plan in master_plan.plan_set.all %}
			<tr>
				<td>
					<ul>
						<li>{{ plan.name }} ({{ plan.ref_no }})</li>
						{% for program in plan.program_set.all %}
							<li><a href="{% url view_program_overview program.id %}">{{ program.name }}</a> [{% print_program_kpis program %}]</li>
						{% endfor %}
					</ul>
				</td>
				{% for quarter_no in 4|get_range %}
					<td>
						{% print_master_plan_quarter_kpi 'target' plan quarter_year quarter_no %}
					</td>
					<td>
						{% print_master_plan_quarter_kpi 'result' plan quarter_year quarter_no %}
					</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</table>
	
</div>
{% endblock %}
