{% extends 'page_base.html' %}
{% load helper_tags page_tags tab_tags %}

{% block html_head %}
{% endblock %}

{% block body_title %}{% display_sector_header user sector %}{% endblock %}
{% block body_tabs %}{% tabs_for_sector page user sector %}{% endblock %}

{% block body_content %}
<div class="sector_overview_page">
	<!-- Master Plan -->
	<div class="master_plans">
		<ul>
			{% for master_plan in master_plans %}
			<li>แผน {{master_plan.ref_no}} {{master_plan.name}}</li>
			{% endfor %}
		</ul>
	</div>
	
	
</div>
{% endblock %}