{% extends 'page_base.html' %}
{% load helper_tags page_tags core_tags %}

{% block html_head %}
{% endblock %}

{% block body_title %}{% display_sector_header user sector %}{% endblock %}
{% block body_tabs %}{% tabs_for_sector page user sector %}{% endblock %}

{% block body_content %}
<div class="sector_kpi_page">
	<div class="kpi">
	  {% for master_plan in master_plans %}
	  <table class="ss_table">
	    <tr><td colspan="9" class="master_plan">แผน {{ master_plan.ref_no }} {{ master_plan.name }}</td></tr>
	    <tr>
  	     <th rowspan="2">แผนงาน</th>
        {% generate_quarter_table_header quarter_year %}
      </tr>
      <tr>
        {% for i in 4|get_range %}
          <th colspan="2">คาดการณ์ / ผลที่เกิด</th>
        {% endfor %}
      </tr>
      
      {% for plan in master_plan.plans %}
        <tr>
          <td class="plan" colspan="9">กลุ่มแผนงาน: ({{ plan.ref_no }}) {{ plan.name }}</td>
        </tr>
        {% for program in plan.programs %}
        <tr>
          <td class="program">
            <div><a href="{% url view_program_kpi program.id %}" title="{{program.name}}">รหัสโครงการ {{ program.ref_no }}</a></div>
            {% if program.abbr_name %}<div class="abbr_name">({{program.abbr_name}})</div>{% endif %}
          </td>
          
          <td class="schedules" colspan="2">
            {% for schedule in program.kpi_schedules.1 %}
              <div class="schedule"><span class="kpi">{{schedule.kpi.ref_no}}{% if schedule.kpi.abbr_name %}({{schedule.kpi.abbr_name}}){% endif %}</span><span class="value">{{schedule.target}} / {{schedule.result}} {{schedule.kpi.unit_name}}</span></div>
            {% endfor %}
          </td>
          <td class="schedules" colspan="2">
            {% for schedule in program.kpi_schedules.2 %}
              <div class="schedule"><span class="kpi">{{schedule.kpi.ref_no}}{% if schedule.kpi.abbr_name %}({{schedule.kpi.abbr_name}}){% endif %}</span><span class="value">{{schedule.target}} / {{schedule.result}} {{schedule.kpi.unit_name}}</span></div>
            {% endfor %}
          </td>
          <td class="schedules" colspan="2">
            {% for schedule in program.kpi_schedules.3 %}
              <div class="schedule"><span class="kpi">{{schedule.kpi.ref_no}}{% if schedule.kpi.abbr_name %}({{schedule.kpi.abbr_name}}){% endif %}</span><span class="value">{{schedule.target}} / {{schedule.result}} {{schedule.kpi.unit_name}}</span></div>
            {% endfor %}
          </td>
          <td class="schedules" colspan="2">
            {% for schedule in program.kpi_schedules.4 %}
              <div class="schedule"><span class="kpi">{{schedule.kpi.ref_no}}{% if schedule.kpi.abbr_name %}({{schedule.kpi.abbr_name}}){% endif %}</span><span class="value">{{schedule.target}} / {{schedule.result}} {{schedule.kpi.unit_name}}</span></div>
            {% endfor %}
          </td>
          
        </tr>
        {% endfor %}
      {% endfor %}
	  </table>
	  {% endfor %}
	  
	</div>
</div>
{% endblock %}
